noderedloop.txt
[{"id":"b82e87ff.cefc58","type":"dashDB in","z":"ff405398.236b","service":"dashDB-2n","query":"SELECT tweets2 FROM sample\nORDER BY RANDOM()\nLIMIT 1","params":"","name":"Grab a random message from DB","x":193,"y":91.25,"wires":[["18aa9.8061bd578","e66a73c6.65db9"]]},{"id":"38b77a75.ede986","type":"debug","z":"ff405398.236b","name":"","active":false,"console":"false","complete":"sentiment","x":861,"y":165.5,"wires":[]},{"id":"8235cfa0.0e1b18","type":"inject","z":"ff405398.236b","name":"start the continous loop","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":591.25,"wires":[["ec4a9307.4299"]]},{"id":"18aa9.8061bd578","type":"function","z":"ff405398.236b","name":"move DB Field into payload","func":"//Grab just the tweet\n// \n\nmsg.payload = msg.payload.TWEETS2;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":176.75,"wires":[["ab6ea64f.812908"]]},{"id":"ab6ea64f.812908","type":"sentiment","z":"ff405398.236b","name":"compute sentiment","x":639,"y":253.75,"wires":[["38b77a75.ede986","55385341.a3def4"]]},{"id":"ec4a9307.4299","type":"function","z":"ff405398.236b","name":"Start Loop","func":"if( msg.i == undefined ) msg.i = 0;\n\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":591.5,"wires":[["1698cfb9.5332f"]]},{"id":"1698cfb9.5332f","type":"function","z":"ff405398.236b","name":"Bump counter","func":"var d = new Date();\n\n// ONLY PROCESS BETWEEN 8AM AND 6PM ET\n//\n\nif ((d.getHours()>0) && (d.getHours()<23)) msg.process=1;\n\n// check now - if it's a Sat or Sun - don't process\n\n\nif (msg.process == 1) {\n                       if (d.getDay() == 5) msg.process = 0;\n                       if (d.getDay() == 6) msg.process = 0;\n}\n\nmsg.i = msg.i + 1; \nreturn msg;","outputs":1,"noerr":0,"x":657,"y":591.5,"wires":[["753f0941.9d2c9"]]},{"id":"e66a73c6.65db9","type":"debug","z":"ff405398.236b","name":"","active":false,"console":"false","complete":"false","x":521,"y":55.75,"wires":[]},{"id":"769727c.191cf58","type":"delay","z":"ff405398.236b","name":"Wait 10 seconds","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":876,"y":440.75,"wires":[["1698cfb9.5332f"]]},{"id":"753f0941.9d2c9","type":"switch","z":"ff405398.236b","name":"Is it within the window to send?","property":"process","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":330,"y":433.75,"wires":[["b82e87ff.cefc58"],["769727c.191cf58"]]},{"id":"55385341.a3def4","type":"function","z":"ff405398.236b","name":"Create \"Thing String\"","func":"sent = \"\";\nmarker = \"\";\n\nval  = msg.sentiment.score;\nsave = msg.payload;\n\nmsg.payload = {};\nif (msg.sentiment.score<0) {\n                              marker=\"n\";\n                           }\nelse { \n       marker='p';\n}\n\nfor (i=0; i<Math.abs(msg.sentiment.score);i++)\n{\n    sent=sent+marker;\n}\n\nvar regexp = new RegExp('#([^\\\\s]*)','g');\nsave = save.replace(regexp, '');\n\n\nsent = sent + \",\" + save +\"\\n\";\nmsg.payload = sent;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":638,"y":359.75,"wires":[["769727c.191cf58","52912c80.45a27c","cacd62d9.93c3a8"]]},{"id":"52912c80.45a27c","type":"debug","z":"ff405398.236b","name":"","active":true,"console":"false","complete":"payload","x":855,"y":317.5,"wires":[]},{"id":"cacd62d9.93c3a8","type":"mqtt out","z":"ff405398.236b","name":"","topic":"MrG-Thing-old","qos":"","retain":"","broker":"40ade079.0578e8","x":860,"y":359.5,"wires":[]},{"id":"40ade079.0578e8","type":"mqtt-broker","z":"ff405398.236b","broker":"realtime.ngi.ibm.com","port":"1883","clientid":"twitter-driver","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
